<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
   
    <% include ./partials/_header %>

    <p><a href="/urls/new">Create New TinyURL</a>
     
      <% if (!cookieId || cookieId !== ownerId) { %>
        
      <div>URLs will only be displayed to users who created them.  Please log in or register to continue.</div>
        
      <% } else { %>
    
      <h2>ShortURL: <b><%= shortURL %></b></h2>
      
      <form method="POST" action="/urls/<%= shortURL %>">
        <div class="form-group"></div>
          <input type="text" class="form-control" name="longURL" value="<%= longURL %>" size="35"/>
          <input type="submit" class="btn btn-primary" value="Update"/>
        </div>
        </form>
        <% } %>
    </p>
</body>
</html>

